{% extends "coordinator_dashboard.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="margin-top"></div>
{% with messages = get_flashed_messages(category_filter=['new_password', 'not_match', 'wrong_old', 'newpassword_space'],
with_categories=true) %}
{% if messages %}
<div>
    {% for category, message in messages %}
    <div class="flash flash-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="cChange_password_title">
    <h1>
        <span class="material-symbols-sharp locksharp">
            lock
        </span>
        <h3 class="changetxt">Change Password</h3>
    </h1>
</div>
<div class="cChange-password-container">

    <form method="POST" action="{{ url_for('coordinator.cNew_password') }}" id="password-form">
        <div class="form-group">
            <label class="change_lbl" for="old_password">Current Password</label>
            <div class="password-input-container">
                <input class="form-control neweye pass-input" type="password" name="old_password" id="old_password" required>
                <i class="toggle-password material-symbols-sharp" id="toggle-old-password">visibility</i>
            </div>
        </div>

        <div class="form-group">
            <label class="change_lbl" for="new_password">New Password *</label>
            <div class="password-input-container">
                <input class="form-control neweye pass-input" type="password" name="new_password" id="new_password" minlength="8"
                    required>
                <i class="toggle-password material-symbols-sharp" id="toggle-password">visibility</i>
            </div>
            <span class="text-info"><small><i>* minimum of 8 characters</i></small></span>
        </div>

        <div class="form-group">
            <label class="change_lbl" for="confirm_password">Confirm New Password</label>
            <div class="password-input-container">
                <input class="form-control neweye pass-input" type="password" name="confirm_password" id="confirm_password"
                    required>
                <i class="toggle-password material-symbols-sharp" id="toggle-confirm-password">visibility</i>
            </div>
        </div>

        <button class="btn btn-success" type="submit" id="save-btn">
            Save
        </button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

<script>
    
    document.querySelectorAll(".pass-input").forEach(function(element) {
        element.addEventListener("input", function(event) {
            // Remove any space characters from the input
            this.value = this.value.replace(/\s/g, "");
        });
    });
</script>

<script>
    $(document).ready(function () {
        toggle_password();
    });
</script>

<script>

    function toggle_password() {
        document.getElementById("new_password").addEventListener("input", function () {
            const password = this.value;

            // Use regular expressions to check for the required criteria
            const hasUppercase = /[A-Z]/.test(password);
            const hasLowercase = /[a-z]/.test(password);
            const hasDigit = /\d/.test(password);
            const hasSpecialChar = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]/.test(password);

            // Check if all criteria are met
            if (hasUppercase && hasLowercase && hasDigit && hasSpecialChar) {
                this.setCustomValidity("");
            } else {
                this.setCustomValidity("Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character.");
            }
        });


        const togglePasswordIcon = document.getElementById("toggle-password");
        const passwordInput = document.getElementById("new_password");
        let passwordVisible = false;

        togglePasswordIcon.addEventListener("click", function () {
            if (passwordVisible) {
                passwordInput.type = "password";
                togglePasswordIcon.textContent = "visibility";
            } else {
                passwordInput.type = "text";
                togglePasswordIcon.textContent = "visibility_off";
                passwordInput.onselect = function () { return false; }; // Disable text selection
                passwordInput.oncontextmenu = function () { return false; }; // Disable right-click menu
            }
            passwordVisible = !passwordVisible;
        });

        const toggleConfirmPasswordIcon = document.getElementById("toggle-confirm-password");
        const confirmPasswordInput = document.getElementById("confirm_password");
        let confirmPasswordVisible = false;

        toggleConfirmPasswordIcon.addEventListener("click", function () {
            if (confirmPasswordVisible) {
                confirmPasswordInput.type = "password";
                toggleConfirmPasswordIcon.textContent = "visibility";
            } else {
                confirmPasswordInput.type = "text";
                toggleConfirmPasswordIcon.textContent = "visibility_off";
                confirmPasswordInput.onselect = function () { return false; }; // Disable text selection
                confirmPasswordInput.oncontextmenu = function () { return false; }; // Disable right-click menu
            }
            confirmPasswordVisible = !confirmPasswordVisible;
        });

        const toggleOldPasswordIcon = document.getElementById("toggle-old-password");
        const oldPasswordInput = document.getElementById("old_password");
        let oldPasswordVisible = false;

        toggleOldPasswordIcon.addEventListener("click", function () {
            if (oldPasswordVisible) {
                oldPasswordInput.type = "password";
                toggleOldPasswordIcon.textContent = "visibility";
            } else {
                oldPasswordInput.type = "text";
                toggleOldPasswordIcon.textContent = "visibility_off";
                oldPasswordInput.onselect = function () { return false; }; // Disable text selection
                oldPasswordInput.oncontextmenu = function () { return false; }; // Disable right-click menu
            }
            oldPasswordVisible = !oldPasswordVisible;
        });
    }
</script>


{% endblock %}