<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESU | {% block title %}{% endblock %}</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/admin_dashboard.css">
    <link rel="stylesheet" href="/static/css/cprogramCSVresult.css">
    <link rel="stylesheet" href="/static/css/cprogram.css">
    <link rel="stylesheet" href="/static/css/kaakbay_program.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/static/css/flash.css">
    <link rel="stylesheet" href="/static/css/coordinator_dashboard.css">
    <link rel="stylesheet" href="/static/css/cProject_table.css">
    <link rel="stylesheet" href="/static/css/cProject_details.css">
    <link rel="stylesheet" href="/static/css/cPending.css">
    <link rel="stylesheet" href="/static/css/cPending_details.css">
    <link rel="stylesheet" href="/static/css/tooltip.css">
    <link rel="stylesheet" href="/static/css/cChange_password.css">
    <link rel="stylesheet" href="/static/css/cCommunity.css">
    <link rel="stylesheet" href="/static/css/cCoordinator.css">
    <link rel="stylesheet" href="/static/css/cDashboard.css">
    <link rel="stylesheet" href="/static/css/cDlfiles.css">
    <link rel="stylesheet" href="/static/css/cResources.css">
    <link rel="stylesheet" href="/static/css/cEdit_profile.css">
    <link class="favicon" rel="icon" href="{{ url_for('static', filename='images/cesu-icon.ico') }}"
        type="image/x-icon">
    <style>
        @media screen and (max-width: 400px) {

            .invert-green {
                content: url("/static/images/user-invert-green.png");
                /* Change the image source for mobile */
            }

        }
    </style>
</head>

<body>
    <div class="container1 ">
        <aside class="sticky-top">
            <div class="top">
                <div class="logo">
                    <img src="/static/images/mobile.png" alt="">
                    <span class="cesu" id="dashboardLink">CE
                        <span class="su">SU</span>
                    </span>
                    <span class="cesu-mobile" id="dashboardLink">CE
                        <span class="su-mobile">SU</span>
                    </span>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="{{ url_for('coordinator.coordinator_dashboard') }}" class="sidebar-link" style="display:none;">
                    <span class="material-symbols-sharp">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="{{ url_for('coordinator.cManage_community') }} " class="sidebar-link">
                    <span class="material-symbols-sharp">groups</span>
                    <h3>My Community</h3>
                </a>
                <a href="{{ url_for('coordinator.cCoordinator') }} " class="sidebar-link">
                    <span class="material-symbols-sharp">
                        monitoring
                    </span>
                    <h3>Extension/Out Reach Programs</h3>
                </a>
                <a href="{{ url_for('coordinator.cManage_pending') }}" class="sidebar-link pending-container">
                    <span class="material-symbols-sharp">
                        pending
                    </span>
                    <h3>Pending Projects</h3>
                    <span class="pending-badge" id="pending-badge">{{declined_count}}</span>
                </a>
                <a href="{{ url_for('randomForest.cProgram') }}" class="sidebar-link">
                    <span class="material-symbols-sharp">neurology</span>
                    <h3>Program Recommendation</h3>
                </a>
                <!---------------------------   NEWLY ADDED    -------------------------------->

                <div class="dropdown-files" onclick="toggleDropdownFile()">
                    <a href="#" class="sidebar-link">
                        <span class="material-symbols-sharp">
                            folder
                        </span>
                        <h3>Files</h3>
                        <span class="material-symbols-sharp arrow_drop_down">
                            arrow_drop_down
                        </span>
                    </a>
                    <div class="coordinator_dropdown-content-files dropdown-content-files" id="dropdown-content-files">
                        <a href="{{ url_for('file.cFiles') }}">CESU files</a>
                        <a class="green-link" href="{{ url_for('coordinator.cResources') }}">Resources</a>
                        <a href="{{ url_for('coordinator.cProject_file_list') }}">Community projects file</a>
                    </div>
                </div>

            </div>
        </aside>
        <main>
            {% block content %}{% endblock %}

            <div class="space" style="margin-top: 5rem;"></div>
        </main>
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-symbols-sharp active">light_mode</span>
                    <span class="material-symbols-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="profile-info">
                        <p>Hi, <b style="text-transform: uppercase;">{{current_firstname}}
                                <span>{{current_lastname}}</span></b></p>
                        <small class="text-muted">{{current_role}}</small>
                    </div>
                    <div class="profile-photo" id="profile-photo" onclick="toggleDropdown()">
                        {% if profile_picture_base64 %}
                        <img class="invert-green" src="data:image/jpeg;base64,{{ profile_picture_base64 }}"
                            alt="Profile Picture">
                        {% else %}
                        <img class="invert-green" src="/static/images/user-blue.png" alt="CESU-LOGO">
                        {% endif %}
                        <div class="dropdown-content" id="dropdown-content">
                            <div class="edit-hover"><a class="edit-button"
                                    href="{{ url_for('coordinator.cEdit_profile') }}" id="edit-button">Edit
                                    Profile</a></div>
                            <div class="password-div"><a class="password-button"
                                    href="{{ url_for('coordinator.cChange_password') }}" id="password-button">Change
                                    Password</a></div>
                            <div class="logout-hover"><a class="logout-button"
                                    href="{{ url_for('coordinator.cClear_session') }}" id="logout-button"
                                    onclick="clearAndSetFirstLinkActive();">Logout</a></div>
                        </div>
                    </div>

                </div>

            </div>
            <!--End of top-->
            <div class="recent-updates">
                <div class="updates">
                    <div id="date-container">
                        <!-- The current date and day will be displayed here -->
                    </div>
                </div>

                <!--
                <div class="comments">
                    <div id="comments-container">
                        <h3>Notifications</h3>
                        <span class="material-symbols-sharp">notifications</span>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>

    <script src="/static/js/admin_dashboard.js"></script>
    <script>
        function toggleDropdownFile() {
            var dropdownContent = document.getElementById("dropdown-content-files");
            dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
        }
    </script>

    <!--
<script>
   $(document).ready(function () {
    $.ajax({
        url: "/get_comments",
        method: "GET",
        dataType: "json",
        success: function (data) {
            data = data.reverse();

            var commentsContainer = $('#comments-container');

            data.forEach(function (record) {
                // Create a new comments-body element for each comment
                var commentsBody = $('<div class="comments-body"></div>');

                // Create a new <p> element with the comment details
                var commentContent = '<p>' +
                    'Admin declined ' +
                    record.community + 
                    ' and comments: "' + record.comments + '"' +
                    '</p>';

                // Add the comment content to the comments-body element
                commentsBody.append(commentContent);

                // Append the comments-body element to the commentsContainer
                commentsContainer.append(commentsBody);
                
            });
        },
        error: function () {
            console.log("Failed to load community data.");
        }
    });
});

</script>
-->

    <script>

        document.addEventListener("DOMContentLoaded", function () {

            //SIDE BAR LINKS ACTIVATE
            const sidebarLinks = document.querySelectorAll(".sidebar-link");
            sidebarLinks.forEach(function (link) {
                link.addEventListener("click", function (event) {
                    // Prevent the default behavior of the link temporarily
                    event.preventDefault();

                    // Remove "active" class from all links
                    sidebarLinks.forEach(function (link) {
                        link.classList.remove("active");
                    });

                    // Add "active" class to the clicked link
                    link.classList.add("active");

                    // Store the active link information in local storage
                    localStorage.setItem("activeLink", link.getAttribute("href"));

                    setTimeout(() => {
                        window.location.href = link.getAttribute("href");
                    }, 10);
                });
            });

            const activeLink = localStorage.getItem("activeLink");
            if (activeLink) {
                const activeLinkElement = document.querySelector(`[href="${activeLink}"]`);
                if (activeLinkElement) {
                    activeLinkElement.classList.add("active");
                }
            }
        });

        function clearAndSetFirstLinkActive() {
            const sidebarLinks = document.querySelectorAll(".sidebar-link");

            // Remove "active" class from all links
            sidebarLinks.forEach(function (link) {
                link.classList.remove("active");
            });

            // Set the first link as active
            if (sidebarLinks.length > 0) {
                sidebarLinks[1].classList.add("active");
                localStorage.setItem("activeLink", sidebarLinks[1].getAttribute("href"));
            }
        }

    </script>

    <!-- ON CLICK CESU-->
    <script>
        document.getElementById("dashboardLink").addEventListener("click", function () {
            window.location.href = "{{ url_for('coordinator.coordinator_dashboard') }}";
        });
    </script>
    <script>
        var pendingCount = '{{declined_count}}'; // Assuming pending_count is a variable in your template

        // Get the element by ID
        var pendingBadge = document.getElementById('pending-badge');

        // Set the display property based on the value of pendingCount
        pendingBadge.style.display = pendingCount >= 1 ? 'block' : 'none';
    </script>
</body>

</html>